.background-demo {
    height: 540px;
    width: 1320px;
    background-image: url("images/bg.png");
    margin-bottom: 20px;
    overflow: hidden;
}

.container-gummy {
    position: relative;
    top: 0;
    left: 709px;
    width: 240px;
    height: 240px;
}

@media (max-width: 1000px) {
    .container-gummy {
        transform: scale(0.5);
    }
}